/* Dedicated to God the Father */

/* All Rights Reserved Christopher Topalian Copyright 2000-2024 */

/* https://github.com/ChristopherTopalian */

/* https://github.com/ChristopherAndrewTopalian */

/* style001.css */

body
{
    background-color: rgb(40, 40, 40);
    font-family: arial;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

input
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(30, 30, 30);
    font-size: 30px;
    color: rgb(255, 255, 255);
}

hr
{
    width: 100%;
}

.mainDiv
{
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.theTitle
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    font-family: arial;
    font-size: 20px;
}

.buttonStyle001
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.buttonStyle001:hover
{
    border-color: rgb(0, 255, 255);
}

.buttonStyle001:active
{
    color: rgb(0, 255, 255);
}